<h3>Convert Currency to Bitcoin</h3>

<div class="row">
  <div class="col-sm-3"> 
    <span class="label label-default">Select Currency</span>
    <%= select_tag 'Currency', options_for_select(@Currency.keys),class:'form-control' %> 
  </div>

  <div class = "col-sm-3">
    <span class="label label-default">Enter Value</span>
    <%= text_field_tag :value,"", class: 'form-control' %>
  </div>

  <div class = "col-sm-3">
    <span class="label label-default">Convert to Bitcoin</span>
    <%= submit_tag "Submit", :id => "convert", :class => "form-control" %>
  </div>
</div>

<br><br>

<div class="row ">
  <div class="col-sm-10 text-center">
    <h3 id="result"/> 
  </div>
</div>

<br><br>

<h3>Convert Bitcoin to Currency</h3>

<div class="row">
   <div class = "col-sm-3">
    <span class="label label-default">Enter Bitcoin </span>
    <%= number_field_tag :bitcoin_value,"", class: 'form-control' %>
  </div>

  <div class="col-sm-3"> 
    <span class="label label-default">Select Currency</span>
    <%= select_tag 'BCurrency', options_for_select(@Currency.keys),class:'form-control' %> 
  </div>
 
  <div class = "col-sm-3">
    <span class="label label-default">Bitcoin to Currency</span>
    <%= submit_tag "Submit", :id => "bittocurrency", :class => "form-control" %>
  </div>
</div>

<br><br>
<div class="row ">
  <div class="col-sm-10 text-center">
    <h3 id="bit_to_curr"/> 
  </div>
</div>
<br><br>

<script type="text/javascript">
  $(document).ready(function()
  {
    $('#convert').on("click",function(){
      if($('#value').val().length>0){
        var p =  $.post( "/convert", { currency: $('#Currency').val(),value: $('#value').val() } );
        p.done(function( data ) {
          $( "#result" ).empty().append( $('#Currency').val()+" To Bitcoin :- " + data );
        })
        .fail(function() {
          alert( "Invalid Value" );
        });
      }
      else{
        alert("Enter Currency");
      }
    });
    $('#bittocurrency').on("click",function(){
      if($('#bitcoin_value').val().length>0){
        var p =  $.post( "/bit_to_currency", { currency: $('#BCurrency').val(),value: $('#bitcoin_value').val()});
        p.done(function( data ) {
          $( "#bit_to_curr" ).empty().append($('#bitcoin_value').val()+" Bitcoin To " + $('#BCurrency').val()+" "+ data );
        })
        .fail(function() {
          alert( "Invalid Value" );
        });
      }
      else{
        alert("Enter Bitcoin");
      }
    });
  });
</script>